:root{
	--mainColour:#1f1f1f;
	--secondaryColour:#272727;

	--borderColour:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(64, 64, 64, 0.8);
	--previewShadow:#0a0a0a;


	--buttonColour:#110e12;


}